{%extends 'index.html'%}

{%block head%}
<title>Fires Dashboard</title>
{%endblock%}

{%block body%}
<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Alex's World</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div id='iframe_container' class="ratio ratio-16x9 mt-5">
    <iframe
        src="https://datastudio.google.com/embed/reporting/7810854e-8fc0-4f08-b523-ac87766f1b11/page/2jWXC"
        allowfullscreen>
    </iframe>
</div>

{%endblock%}