{%extends 'index.html'%}

{%block head%}
<title>Home</title>
{%endblock%}

{%block body%}
<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Alex's World</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#video">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#tools">Skills</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#projects">Projects</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="alert alert-warning alert-dismissable" role="alert">
    This website is under development
</div>
<div>
    <div id=video>
        <div class="row justify-content-center">
            <div class="col-auto">
                <h1 id="greet">{{ greeting }}</h1>
            </div>
        </div>
        <video autoplay muted loop id="myVideo">
            <source src="{{url_for('static', filename='/assets/video.mp4')}}" type="video/mp4">
        </video>
    </div>
    <div class='container home_cont'>
        
        <section class="py-2 text-center container mb-5" id='tools' style="max-width:100%">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="fw-light">My Toolkit</h1>
                </div>
            </div>
            <div class="row" style="max-width:100%">
                <div class="mt-1">
                    <p class="tools text-muted mb-0 pb-0 bold-text align-items">
                        <span class="mx-2"><img style="height: auto; width: 10%" src="https://upload.wikimedia.org/wikipedia/commons/c/c3/Python-logo-notext.svg"></span>
                        <span class="mx-2"><img style="height: auto; width: 30%;" src="https://rapids.ai/assets/images/Plotly_Dash_logo.png"></span>
                        <span class="mx-2"><img style="height: auto; width: 10%" src="https://symbols.getvecta.com/stencil_75/69_bigquery-icon.eb9185e8d2.svg"></span>
                        <span class="mx-2"><img style="height: auto; width: 10%;" src="https://cdn.pixabay.com/photo/2017/08/05/11/16/logo-2582748_1280.png"></span>
                        <span class="mx-2"><img style="height: auto; width: 15%" src="https://png2.cleanpng.com/sh/0345b6c1c2e1e3c8b07261dc5a9f969f/L0KzQYm3VcI3N6h8R91yc4Pzfri0jflkepD4h9h9LYP0fH76hgJ3baMyhet8cXywdLL7gfJie5YyhNHwbz24coGCWPM3bZYAStM9Nj6zRImBVsgyOGI6Sqk8NUK3Q4GCVcUyNqFzf3==/kisspng-microsoft-sql-server-mysql-database-logo-5b098c6ee92a46.0488681015273524309551.png"></span>
                        <span class="mx-2"><img style="height: auto; width: 15%" src="https://upload.wikimedia.org/wikipedia/commons/e/e0/Git-logo.svg"></span>
                        <span class="mx-2"><img style="height: auto; width: 10%" src="https://upload.wikimedia.org/wikipedia/commons/2/29/Postgresql_elephant.svg"></span>
                        <span class="mx-2"><img style="height: auto; width: 7%" src="https://brand.heroku.com/static/media/heroku-logotype-vertical.f7e1193f.svg"></span>
                        <span class="mx-2"><img style="height: auto; width: 10%" src="https://upload.wikimedia.org/wikipedia/commons/3/34/Microsoft_Office_Excel_%282019%E2%80%93present%29.svg"></span>
                        <span class="mx-2"><img style="height: auto; width: 20%" src="https://cdn.freelogovectors.net/wp-content/uploads/2019/07/stata-logo.jpg"></span>
                    </p>
                </div>
            </div>
        </section>

        <section class="py-2 text-center container" id='projects'>
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="fw-light mb-5">Projects Collection</h1>
                    <p class="lead text-muted">
                        A growing collection of my coding projects. Hover for details!
                        <br>
                        Some of the projects take some time to load.
                    </p>
                    <p>
                        <a href="https://github.com/AlexGhanem" class="btn btn-secondary my-2" target='_blank'>My
                            Github</a>
                        <!-- <a href="#" class="btn btn-secondary my-2">Secondary action</a> -->
                    </p>
                </div>
            </div>
        </section>

        <div class="row mx-auto my-auto justify-content-center">
            <div id="recipeCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval='3000'>
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                        <div class="col-md-3">
                            <div class="card shadow-sm proj">
                                <div class="img__description">
                                    <div class='desc_cont'>
                                        <p class='desc'>
                                        <h4>{{projects[0].title}}</h4>
                                        <br>
                                        <p class='caption'>{{projects[0].description}}</p>
                                        </p>
                                    </div>
                                    <div class="justify-content-between align-items-center btns">
                                        <div class="btn-group mb-2 ms-2 bottom-0 start-0 position-absolute">
                                            <button type="button" class="btn alight-self-end btn-primary view"
                                                onclick="window.open('{{projects[0].link}}','_blank')">View
                                                Project
                                            </button>
                                            {%if projects[0].github != none%}
                                            <button type="button" class="btn btn-secondary"
                                                onclick="window.open('{{projects[0].github}}','_blank')">
                                                <i class="git-icon"></i>
                                            </button>
                                            {%endif%}
                                        </div>
                                        {%if projects[0].small_text != none%}
                                        <small class="text-muted">{{projects[0]['small_text']}}</small>
                                        {%endif%}
                                    </div>
                                </div>
                                <div class='card-img'>
                                    <img class='img-top img-fluid' src={{projects[0].img}} alt='photo' id="thumbnail">
                                </div>
                            </div>
                        </div>
                    </div>
                    {%for project in projects[1:]%}
                    <div class="carousel-item">
                        <div class="col-md-3">
                            <div class="card shadow-sm proj">
                                <div class="img__description">
                                    <div class="desc_cont">
                                        <p class='desc'>
                                        <h4 class='proj_title'>{{project.title}}</h4>
                                        <p class='caption'>{{project.description}}</p>
                                        </p>
                                    </div>
                                    <div class="justify-content-between align-items-center btns">
                                        <div class="btn-group mb-2 ms-2 bottom-0 start-0 position-absolute">
                                            <button type="button" class="btn alight-self-end btn-primary view"
                                                onclick="window.open('{{project.link}}','_blank')">View
                                                Project
                                            </button>
                                            {%if project.github != none%}
                                            <button type="button" class="btn btn-secondary"
                                                onclick="window.open('{{project.github}}','_blank')">
                                                <i class="git-icon"></i>
                                            </button>
                                            {%endif%}
                                        </div>
                                        {%if project.small_text != none%}
                                        <small class="text-muted">{{project['small_text']}}</small>
                                        {%endif%}
                                    </div>
                                </div>
                                <div class='card-img'>
                                    <img class='img-top img-fluid' src={{project.img}} alt='photo' id="thumbnail">
                                </div>
                            </div>
                        </div>
                    </div>
                    {%endfor%}
                </div>
                <a class="carousel-control-prev carousel-control bg-transparent w-aut" href="#recipeCarousel"
                    role="button" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                </a>
                <a class="carousel-control-next carousel-control bg-transparent w-aut" href="#recipeCarousel"
                    role="button" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                </a>
            </div>
        </div>
    </div>
</div>


<script>
    let items = document.querySelectorAll('.carousel .carousel-item')

    items.forEach((el) => {
        const minPerSlide = 4
        let next = el.nextElementSibling
        for (var i = 1; i < minPerSlide; i++) {
            if (!next) {
                next = items[0]
            }
            let cloneChild = next.cloneNode(true)
            el.appendChild(cloneChild.children[0])
            next = next.nextElementSibling
        }
    })

</script>

{%endblock%}